<div class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="header text-center">
        <h2>Log in</h2>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="content">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
               <div class="row">
                <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8">
                  <div class="form-group">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8">
                  <div class="form-group">
                    <%= f.label :password %><br />
                    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8">
                  <% if devise_mapping.rememberable? -%>
                    <div class="field">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                  <% end -%>

                  <div class="col-md-12 form-group">
                    <%= f.submit "Log in", class: 'btn btn-primary' %>
                  </div>
                  <%= render "users/shared/links" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


